[Unit]
Description=Arrosage App
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
User=www-data
WorkingDirectory=/var/www/arrosage
Environment="PATH=/var/www/arrosage/.venv/bin:$PATH"
Environment="CHANGE IT"
ExecStart=/var/www/arrosage/.venv/bin/gunicorn -c gunicorn_conf.py --workers 1 --bind unix:/run/gunicorn/gunicorn_arrosage.sock wsgi:app
#Restart=always

[Install]
WantedBy=multi-user.target