[Unit]
Description=Arrosage App
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
User=www-data
WorkingDirectory=/opt/arrosage/current
Environment="PATH=/opt/arrosage/current/.venv/bin:$PATH"
Environment="SESSION_SECRET_KEY=CHANGE IT"
Environment="DATABASE_URL=sqlite:////opt/arrosage/current/arrosage.db"
ExecStart=/opt/arrosage/current/.venv/bin/gunicorn -c gunicorn_conf.py --workers 1 --bind unix:/run/gunicorn/gunicorn_arrosage.sock wsgi:app
#Restart=always

[Install]
WantedBy=multi-user.target