<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ _('Watering') }}{% endblock %}</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    {% block head_extra %}{% endblock %}
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">🌿 {{ _('Watering') }}</a></li>
        <li><a href="/history">📊 {{ _('History') }}</a></li>
        <li><a href="/settings">⚙️ {{ _('Settings') }}</a></li>
        <li>
          <form
            method="post"
            action="{{ url_for('change_language', lang_code='fr') if get_locale() != 'fr' else url_for('change_language', lang_code='en') }}"
          >
            <select
              onchange="window.location.href='/change-lang/' + this.value"
            >
              <option value="fr" {% if get_locale() == 'fr' %}selected{% endif
              %}>🇫🇷 <option value="en" {% if get_locale() == 'en' %}selected{%
              endif %}>🇬🇧
            </select>
          </form>
        </li>
      </ul>
    </nav>
    {% include "_flashes.html" %}
    <main>{% block content %}{% endblock %}</main>
  </body>
  <footer class="footer">
    <p style="float: right; padding-right: 10px; color: #666">
      {{ _('version') }}{{ version }}
    </p>
  </footer>
</html>
