<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Arrosage{% endblock %}</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    {% block head_extra %}{% endblock %}
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">🌿 Arroser</a></li>
        <li><a href="/history">📊 Historique</a></li>
        <li><a href="/config">⚙️ Paramètres GPIO</a></li>
      </ul>
    </nav>

    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
